.root {
  display: flex;
  gap: 5px;
  margin: auto;
  color: #fefefe;
}

.link {
  font-weight: 600;
}

@media (max-width: 421px) {
  .root {
    flex-direction: column;
    align-items: flex-start;
  }
}

